<div class="row">
  <div class="col-lg-8 col-xs-12 my-margin" style="margin-bottom:30px;">
    <div class="flexslider my-slider">
      <ul class="slides " style="width:100%;">
        <li >
          <img  class="main-img" src="<%=image_path("main_img_1.png")%>" alt="logo"/>
        </li>
        <li>
          <img class="main-img" src="<%=image_path("main_img_2.jpg")%>" alt="logo" />
        </li>
        <li>
          <img class="main-img" src="<%=image_path("main_img_3.jpg")%>" alt="logo"/>
        </li>
      </ul>
    </div>
  </div>
  <div class="col-lg-3 col-xs-12" style="padding:0px;">
    <div class="col-lg-12 col-xs-4" >
      <a href="/intro/patent">
        <div class="main-box">
          <img src="<%=image_path("patent_button.png")%>"/>
        </div>
      </a>
    </div>
    <div class="col-lg-12 col-xs-4" >
      <a href="/product/con_1">
        <div class="main-box">
          <img src="<%=image_path("catalog-button.png")%>" />
        </div>
      </a>
    </div>
    <div class="col-lg-12 col-xs-4">
      <a href="/services/qna">
        <div class="main-box">
          <img src="<%=image_path("QNA1.png")%>"/>
        </div>
      </a>
    </div>
  </div>
  <div class="quick_box" style="float:right; width:48px; margin-right:10px;">
    <div class="quick"><%= render partial: '/home/quick'  %></div>
  </div>
</div>
