<div class="row">
  <div class="my-margin col-lg-2 col-md-2" style="padding:0px;">
    <%= render partial: '/product/menu'  %>
  </div>
  <div class="col-lg-9">
    <h4 class="product_title">자연식생 방지블록</h4>
    <p class="product_sub" style="float: left;"></p>
    <hr>
    <div class="row">
      <div class="col-md-5">
        <div class="flexslider">
          <ul class="slides " style=" height:380px;">
            <li >
              <img  src="<%=image_path("con_4-1.jpg")%>" alt="logo"style="width:80%; height:100%; margin-left:auto; margin-right:auto; "/>
            </li>
            <li>
              <img  src="<%=image_path("con_4-2.jpg")%>" alt="logo"style="width:80%; height:100%; margin-left:auto; margin-right:auto; "/>
            </li>
          </ul>
        </div>
      </div>
      <div class="col-md-7">

        <p class="product_main_title">특성</p>
        <div class="bs-example product_main product_size" data-example-id="striped-table" style="border: 1px solid #ddd;">
            <table class="table table-striped" style="margin-bottom:0;">
              <thead>
              </thead>
              <tbody>
                <tr>
                  <th scope="row">용도</th>
                  <td>침식이 진행중인 해안 및 하천굴절면, 사면절토 후미관상<br> 구조적으로 불안정한 지형, 하천주위 비탈면, 경사부의 붕괴나<br> 침식이 진행중인 곳, 교량하부 및 교각 수중보 주위의 유속이<br> 빠르고 변칙적인 곳</td>
                </tr>
                <tr>
                  <th scope="row">압축강도</th>
                  <td>24N/㎟ 이상</td>
                </tr>
              </tbody>
            </table>
          </div><br>
          <p class="product_main_title">특징</p>
          <p class="product_main product_size">
             •  각 모서리가 U볼트로 체결되어 홍수에 안정적임 <br>
             •   낮은 수위에서는 계단식 돌기로 인한 여울 발생으로 수계내 용존산소 증가효과를 냄<br>
             •   중앙의 부력배출공으로 수중공사시에 수중적층을 용이하게 함 <br>
             •   부력 방지공과 돌기 및 다리는 적층 후 수면 아래에서는 어소공간으로 작용함
           </p>
      </div>
    </div>
    <p class="product_main_title">제품 소개</p>
    <p class="product_main product_size">
      하천내 하상세굴방지, 취수보, 사방댐, 교각 등 수리구조물의 세굴방지 및 호안경사면 보호, 방지 역할을 할 수 있고 또한 급경사 절개사면 및 도로비탈면에 적용하여 식생블록으로 사용가능하며 기존 식생블록의 연결고리 결속방식에서 블록 간 조합으로 결속이 가능하여 구조적 안정성이 크다.
    </p>
     <p class="product_main_title">규격</p>
    <div class="bs-example product_main product_size" data-example-id="striped-table" style="border: 1px solid #ddd;">
      <table class="table table-striped" style="margin-bottom:0;">
        <thead>
          <tr>
            <th scope="row">품명</th>
            <th>규격(mm)</th>
            <th>참고중량(kg)</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">자연 세굴 방지블록 1형</th>
            <td>1600×1300×650(H)</td>
            <td>2.0</td>
          </tr>
          <tr>
            <th scope="row">자연 세굴 방지블록 2형</th>
            <td>1800×1800×600(H)</td>
            <td>2.0</td>
          </tr>
          <tr>
            <th scope="row">자연 세굴 방지블록 1형</th>
            <td>1470×1150×550(H)</td>
            <td>1.0</td>
          </tr>
        </tbody>
      </table>
    </div>

    <p class="product_main_title">취입보 단면도 / 평면도</p>
    <img  src="<%=image_path("con_4_ex_7.jpg")%>" alt="logo"style=" height:auto; width:80%;  margin-left:10%; margin-right:10%; "/>
    <p class="product_main_title">하상보호공 세굴 방지블록 시공 단면도</p>
    <img  src="<%=image_path("con_4_ex_5.jpg")%>" alt="logo"style=" height:auto; width:80%;margin-left:10%; margin-right:10%;"/>
    <p class="product_main_title">다리교각 밑 세굴 방지블록 시공(예)</p>
    <img  src="<%=image_path("con_4_ex_6.jpg")%>" alt="logo"style=" height:auto; width:80%; margin-left:10%; margin-right:10%;"/>
    <p class="product_main_title">시공 사례</p>
    <div class="row" style="width:80%; margin:auto;">
      <div class="col-md-6 product_ex_img">
        <img  src="<%=image_path("con_4_ex_1.jpg")%>" alt="logo"style=" height:auto; width:100%; margin-left:auto; margin-right:auto; "/>
      </div>
      <div class="col-md-6 product_ex_img">
        <img  src="<%=image_path("con_4_ex_2.jpg")%>" alt="logo"style=" height:auto; width:100%; margin-left:auto; margin-right:auto; "/>
      </div>
      <div class="col-md-6 product_ex_img">
        <img  src="<%=image_path("con_4_ex_3.jpg")%>" alt="logo"style=" height:auto; width:100%; margin-left:auto; margin-right:auto; "/>
      </div>
      <div class="col-md-6 product_ex_img">
        <img  src="<%=image_path("con_4_ex_4.jpg")%>" alt="logo"style=" height:auto; width:100%; margin-left:auto; margin-right:auto; "/>
      </div>
    </div>
  </div>
</div>
