<%= render partial: '/product/productBg'  %>
<div class="container">
  <div class="row">
    <div class="col-md-2" style="padding:0px;">
      <%= render partial: '/product/menu'  %>
    </div>
    <div class="col-md-10">
      <h4 class="product_title">데크로드</h4>
      <p class="product_sub" style="float: left;"></p>
      <hr>
      <div class="row">
        <div class="col-md-5">
          <div class="flexslider">
            <ul class="slides " style=" height:220px;">
              <li >
                <img  src="<%=image_path("con_1-1.jpg")%>" alt="logo"style=" height:220px; margin-left:auto; margin-right:auto; "/>
              </li>
              <li>
                <img  src="<%=image_path("con_1-2.jpg")%>" alt="logo"style=" height:220px; margin-left:auto; margin-right:auto; "/>
              </li>
              <li>
                <img  src="<%=image_path("con_1-3.jpg")%>" alt="logo"style=" height:220px; margin-left:auto; margin-right:auto; "/>
              </li>
            </ul>
          </div>
        </div>
        <div class="col-md-7">
          <p class="product_main_title">사용 가능 범위</p>
            • 인도블럭 사이 자전거 도로 및 산책로 (기존의 데크공법은 하지부분이 땅에 묻히면 부식이 됌으로 적용불가)<br>
            • 어린이 놀이터, 도심의 근린공원.<br>
            • 해안가 및 국도변 인도가 없는곳.(별도의 굴착 없이 경계석 부착으로 바로 인도 만들어짐)<br>
            • 어린이 보호구역 및 학교 등 하교 길  (경계 블럭 및 난간 부착으로 별도 의 굴착 없이 단시간에 구역 구분 지어짐)<br>
            • 국도변 인도 없이 수로가 근접하여 보행자 위험 한곳(덮개 역할 및 보행로 확보)<br>
            • 학교의 교정 스탠드(계단식 시공)<br>
            • 좁은교량(인도 구분 없는곳)<br>
            • 국립공원 등 관광지.<br>
            • 하천 산책로.<br>
            • 경로당 및 마을 당산나무 밑 쉼터.<br>
            • 소 하천의 징검다리<br>
            • 교통 섬 (교차로 내 신호 대기 하는 곳)<br>
            • 버스 승강장.<br>
            • 이면도로 주차 방지 시설.<br>
        </div>
      </div>
      <br>
      <p class="product_main_title">장점</p>
      <p class="product_main">
        • 기존의 데크 하지 부분이 철재가 아닌  콘크리트 블록으로 부식이 없다.<br>
        • 각 부재간 볼트 결합으로 견고하며 부등침하가 생기지 않는다.<br>
        • 전후 좌우로 조립이 가능하여 어떠한 형태로도 시공이 가능하다.<br>
        • 기초 설치 없이 면 고르기 만으로도 시공이 가능하다.<br>
        • 염해 및 수분에 강해 장소의 구애가 없다<br>
        • 일체 식 조립제품으로 운반 및 관리가 용이하다<br>
        • 상하로도 조립이 가능하여 고저에 구애 받지 않는다<br>
        • 현장에서 목재 및 철재 절단 작업이 없어 친환경 적이며 작업공간이 많이 필요없다.<br>
        • 시공의 용이성으로 공기가 1/3로  단축된다.<br>
        • 대부분의 현장에서 굴착 없이 시공이 가능하다<br>
        • 설치 및 적용 범위가 넓다.<br>
        • 일반 데크 공사 에 비교하여 가격이 1/3이상 저렴하다<br>
        • 견고함에 있어서 어떠한 데크재 에 비하여도 상당히 우수하다.<br>
        • 내구성이 반 영구적 이다.<br>
        • 경계석 과 일체 식으로 조립되므로 별도의 콘크리트 타설이 필요 없고 공정이 준다.<br>
        • 난간이 일체 식으로 조립 함으로 별도의 용접 및 천공 작업이 필요 없다.<br>
      <br>
      <p class="product_main_title">시공 사례</p>
      <div class="col-md-6 product_ex_img">
        <img  src="<%=image_path("main-1.jpg")%>" alt="logo"style=" height:auto; width:100%; margin-left:auto; margin-right:auto; "/>
      </div>
      <div class="col-md-6 product_ex_img">
        <img  src="<%=image_path("main-2.jpg")%>" alt="logo"style=" height:auto; width:100%; margin-left:auto; margin-right:auto; "/>
      </div>
      <div class="col-md-12 product_ex_img">
        <img  src="<%=image_path("main-3.jpg")%>" alt="logo"style=" height:auto; width:100%; margin-left:auto; margin-right:auto; "/>
      </div>
    </div>
  </div>
</div>
