<%= render partial: '/product/productBg'  %>
<div class="container">
  <div class="row">
    <div class="col-md-2" style="padding:0px;">
      <%= render partial: '/product/menu'  %>
    </div>
    <div class="col-md-10">
      <h4 class="product_title">양지보강토 옹벽블록</h4>
      <p class="product_sub" style="float: left;"></p>
      <hr>
      <div class="row">
        <div class="col-md-5">
          <div class="flexslider">
            <ul class="slides " style=" height:380px;">
              <li >
                <img  src="<%=image_path("con_5-1.jpg")%>" alt="logo"style=" height:100%; margin-left:auto; margin-right:auto; "/>
              </li>
              <li>
                <img  src="<%=image_path("con_5-2.jpg")%>" alt="logo"style=" height:100%; margin-left:auto; margin-right:auto; "/>
              </li>
              <li>
                <img  src="<%=image_path("con_5-3.jpg")%>" alt="logo"style=" height:100%; margin-left:auto; margin-right:auto; "/>
              </li>
            </ul>
          </div>
        </div>
        <div class="col-md-7">

          <p class="product_main_title">특성</p>
          <div class="bs-example product_main" data-example-id="striped-table" style="border: 1px solid #ddd;">
              <table class="table table-striped" style="margin-bottom:0;">
                <thead>
                </thead>
                <tbody>
                  <tr>
                    <th scope="row">적용 대상지</th>
                    <td>도로, 고가도로, 교대 날개벽 / 제방, 도로경계 / 연못, 호수가,<br> 제방, 해안, 하천 / 골프장의 클럽하우스 조 경 / 아파트 단지 /<br> 관광레저 단지 등</td>
                  </tr>
                  <tr>
                    <th scope="row">압축강도</th>
                    <td>24N/㎟</td>
                  </tr>
                </tbody>
              </table>
            </div><br>
            <p class="product_main_title">특징</p>
            <p class="product_main">
               • 부동침하방지와 높은 옹벽에서의 안정된 구조로 몰타르를 사용하지 않는 시공으로 공사기간을 단축시킵니다. <br>
               • 외관이 자연석문양으로 자연스럽고 능동적입니다.<br>
               • 높은 강도의 콘크리트 블록으로 조립되기 때문에 배변, 배수가 잘되어 동파의 염려가 없고 내구성이 뛰어납니다. <br>
               • 옹벽 뒤의 공간은 현장에 터파기한 흙들을 되메움으로 재사용할 수 있습니다. <br>
               • 토립자 결속식 보강토 공법 / 전천후 시공가능 / 내진성 탁월 / 외관의 수려함 / 단수인력으로 축조 / 별도의 배수구 불 필요 / 곡선 및 코너작업 용이 / 부등침하에 매우 강함 / 쓰레기 발생 없음 / 유지보수 거의 불필요
             </p>
        </div>
      </div>
      <p class="product_main_title">제품 소개</p>
      <p class="product_main">
        외관이 자연스럽고 웅장한 양지보강토 옹벽블록<br> 지금까지 쌓아온 노하우와 다양한 경험을 통해 더 안전하고 자연스러운 조경경관을 연출합니다.
      </p>
       <p class="product_main_title">규격</p>
      <div class="bs-example product_main" data-example-id="striped-table" style="border: 1px solid #ddd;">
        <table class="table table-striped" style="margin-bottom:0;">
          <thead>
            <tr>
              <th scope="row">품명</th>
              <th>규격(mm)</th>
              <th>중량(㎏/㎡)</th>
              <th>수량(개/㎡)</th>
              <th>비  고</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th scope="row">양지보강토 옹벽블록 B형(기본형)</th>
              <td>500×420×200(H)</td>
              <td>52</td>
              <td>10</td>
              <td>적색/무색</td>
            </tr>
            <tr>
              <th scope="row">양지보강토 옹벽블록 B형(마감형)</th>
              <td>450×350×100(H)</td>
              <td>30</td>
              <td>2.5개/m</td>
              <td>적색/무색</td>
            </tr>
          </tbody>
        </table>
      </div>
      <p class="product_main_title">지오그리드(ACEGRID)의 사용용도</p>
      <p class="product_main">
        - 보강토 옹벽 / 사면보강 / 연약지반의 개량보강 / 아스팔트 균열방지(유리섬유 지오그리드) / 가 시설물 등 임시 구조물
      </p>
      <div class="row">
        <div class="col-md-6">
          <p class="product_main_title">연성그리드</p>
          <p class="product_main">폴리프로필렌(P.P)<br> 보강토 옹벽, 급사면 축조, 초연약 지반 보강</p>
          <img  src="<%=image_path("con_4_ex_5.jpg")%>" alt="logo"style=" height:auto; width:100%; margin-left:auto; margin-right:auto; "/>
        </div>
        <div class="col-md-6">
          <p class="product_main_title">설치단면(지오그리드 H=7.5m 설치예시)</p>
          <img  src="<%=image_path("con_4_ex_6.jpg")%>" alt="logo"style=" height:auto; width:100%; margin-left:auto; margin-right:auto; "/>
        </div>
      </div>
      <p class="product_main_title">시공 사례</p>
        <div class="col-md-6 product_ex_img">
          <img  src="<%=image_path("con_5_ex_1.jpg")%>" alt="logo"style=" height:auto; width:100%; margin-left:auto; margin-right:auto; "/>
        </div>
        <div class="col-md-6 product_ex_img">
          <img  src="<%=image_path("con_5_ex_2.jpg")%>" alt="logo"style=" height:auto; width:100%; margin-left:auto; margin-right:auto; "/>
        </div>
        <div class="col-md-6 product_ex_img">
          <img  src="<%=image_path("con_5_ex_3.jpg")%>" alt="logo"style=" height:auto; width:100%; margin-left:auto; margin-right:auto; "/>
        </div>
        <div class="col-md-6 product_ex_img">
          <img  src="<%=image_path("con_5_ex_4.jpg")%>" alt="logo"style=" height:auto; width:100%; margin-left:auto; margin-right:auto; "/>
        </div>
    </div>
  </div>
</div>
