<%= render partial: '/product/productBg'  %>
<div class="container">
  <div class="row">
    <div class="col-md-2" style="padding:0px;">
      <%= render partial: '/product/menu'  %>
    </div>
    <div class="col-md-10">
      <h4 class="product_title">자연식생 축조블록</h4>
      <p class="product_sub" style="float: left;">의장등록번호 : 제 0349849호</p>
      <hr>
      <div class="row">
        <div class="col-md-5">
          <div class="flexslider">
            <ul class="slides " style=" height:380px;">
              <li >
                <img  src="<%=image_path("con_3-1.jpg")%>" alt="logo"style=" height:100%; margin-left:auto; margin-right:auto; "/>
              </li>
              <li>
                <img  src="<%=image_path("con_3-2.jpg")%>" alt="logo"style=" height:100%; margin-left:auto; margin-right:auto; "/>
              </li>
              <li>
                <img  src="<%=image_path("con_3-3.jpg")%>" alt="logo"style=" height:100%; margin-left:auto; margin-right:auto; "/>
              </li>
            </ul>
          </div>
        </div>
        <div class="col-md-7">

          <p class="product_main_title">특성</p>
          <div class="bs-example product_main" data-example-id="striped-table" style="border: 1px solid #ddd;">
              <table class="table table-striped" style="margin-bottom:0;">
                <thead>
                </thead>
                <tbody>
                  <tr>
                    <th scope="row">용도</th>
                    <td>소하천 법면보호, 도로 측구옹벽, 절토부 법면보호,<br> 성토부 식생옹벽 등</td>
                  </tr>
                  <tr>
                    <th scope="row">압축강도</th>
                    <td>21N/㎟ 이상</td>
                  </tr>
                  <tr>
                    <th scope="row">대응 유속</th>
                    <td>7m/sec 이하</td>
                  </tr>
                  <tr>
                  <th scope="row">대응 구배</th>
                    <td>1:0.3 ~ 0.5</td>
                  </tr>
                </tbody>
              </table>
            </div><br>
            <p class="product_main_title">특징</p>
            <p class="product_main">
               •   상·하·좌·우 적응성이 우수한 블록 연결구조로 블록 전체의 일체감과 탁월한 안전성 부여 <br>
               •   석축과 옹벽의 대용품으로 식생옹벽효과가 뛰어남 <br>
               •   블록 전면이 자연석모양을 띄고 있어 자연스러운 경관 연출<br>
               •   블록 중앙과 하부에 철근 삽입 홈이 있어 보강재 등을 삽 입할 수 있어 5m까지 시공이 가능<br>
               •   넓은 식생공간을 제공하여 자연식생 및 미생물, 곤충류, 양서류의 서식 공간 및 이동통로를 제공

             </p>
        </div>
      </div>
      <p class="product_main_title">제품 소개</p>
      <p class="product_main">
        기존 보강토 옹벽블록을 계량하여 식생이 가능하도록 개발된 제품으로 블록의 식생공간 사이로 배수 기능 및 자연식생이 가능하며 또한 미생물 및 곤충류가 서식하여 친환경적인 제품이며, 좌우결속이 곡선돌기와 홈으로 이루어져 곡선부 시공 이 자유로우며 안정적이다.
      </p>


       <p class="product_main_title">규격</p>
      <div class="bs-example product_main" data-example-id="striped-table" style="border: 1px solid #ddd;">
        <table class="table table-striped" style="margin-bottom:0;">
          <thead>
            <tr>
              <th scope="row">품명</th>
              <th>규격</th>
              <th>1㎡수량(EA)</th>
              <th>참고중량</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th scope="row">자연식생 소형 축조블록 </th>
              <td>500×500×250(H)</td>
              <td>8</td>
              <td>82</td>
            </tr>
            <tr>
              <th scope="row">자연식생 축조블록 1형</th>
              <td>1000×700×500(H)</td>
              <td>2</td>
              <td>380</td>
            </tr>
            <tr>
              <th scope="row">자연식생 축조블록 2형</th>
              <td>1000×700×500(H)</td>
              <td>2</td>
              <td>430</td>
            </tr>
          </tbody>
        </table>
      </div>

      <p class="product_main_title">설치 단면도</p>
      <img  src="<%=image_path("con_3_ex_5.jpg")%>" alt="logo"style=" height:auto; width:100%; margin-left:auto; margin-right:auto; "/>

      <p class="product_main_title">시공 사례</p>
      <div class="col-md-6 product_ex_img">
        <img  src="<%=image_path("con_3_ex_1.jpg")%>" alt="logo"style=" height:auto; width:100%; margin-left:auto; margin-right:auto; "/>
      </div>
      <div class="col-md-6 product_ex_img">
        <img  src="<%=image_path("con_3_ex_2.jpg")%>" alt="logo"style=" height:auto; width:100%; margin-left:auto; margin-right:auto; "/>
      </div>
      <div class="col-md-6 product_ex_img">
        <img  src="<%=image_path("con_3_ex_3.jpg")%>" alt="logo"style=" height:auto; width:100%; margin-left:auto; margin-right:auto; "/>
      </div>
      <div class="col-md-6 product_ex_img">
        <img  src="<%=image_path("con_3_ex_4.jpg")%>" alt="logo"style=" height:auto; width:100%; margin-left:auto; margin-right:auto; "/>
      </div>

    </div>
  </div>
</div>
