<div class="row" style="padding-left:40px;">
  <div class="my-margin col-lg-2 col-xs-2" style="padding:0px;">
    <%= render partial: '/product/menu'  %>
  </div>
  <div class="col-lg-9 col-xs-10">
    <h4 class="product_title">데크로드</h4>
    <p class="product_sub" style="float: left;"></p>
    <hr>
    <div class="row">
      <div class="col-md-5">
        <div class="flexslider" style="margin-top:20px;">
          <ul class="slides " style=" height:220px;">
            <li >
              <img  src="<%=image_path("con_1-1.jpg")%>" alt="logo"style="width: 80%;height:220px; margin-left:auto; margin-right:auto; "/>
            </li>
            <li>
              <img  src="<%=image_path("con_1-2.jpg")%>" alt="logo"style="width: 80%; height:220px; margin-left:auto; margin-right:auto; "/>
            </li>
            <li>
              <img  src="<%=image_path("con_1-3.jpg")%>" alt="logo"style="width: 80%; height:220px; margin-left:auto; margin-right:auto; "/>
            </li>
          </ul>
        </div>
      </div>
      <div class="col-md-7">
        <p class="product_main_title">특성 및 규격</p>
        <div class="row" style="width:90%; margin:auto;">
          <div class="bs-example product_main" data-example-id="striped-table" style="border: 1px solid #ddd;">
            <table class="table table-striped" style="text-align:center;margin-bottom:0;">
              <tr>
                <th></th>
                <th colspan="2" style="text-align:center;">콘크리트 블록</th>
                <th style="text-align:center;">데크</th>
              </tr>
              <tr>
                <th style="text-align:center;">재질</th>
                <td colspan="2">콘크리트</td>
                <td>멀바우</td>
              </tr>
              <tr>
                <th style="text-align:center;">중량</th>
                <td colspan="3">240 kg</td>
              </tr>
              <tr>
                <th style="text-align:center;">강도</th>
                <td colspan="3">21 N/mm²</td>
              </tr>
              <tr>
                <th rowspan="2" style="text-align:center;">규격</th>
                <td>기본형</td>
                <td>1000*1000*200</td>
                <td rowspan="2">1000*100*20</td>
              </tr>
              <tr>
                <td>확장형</td>
                <td>1500*1000*200</td>
              </tr>

            </table>
          </div><br>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <p class="product_main_title">사용 가능 범위</p>
        <div class="row" style="width:90%; margin:auto;">
          • 학교의 교정 스탠드(계단식 시공)<br>
          • 좁은교량(인도 구분 없는곳)<br>
          • 국립공원 등 관광지.<br>
          • 하천 산책로.<br>
          • 경로당 및 마을 당산나무 밑 쉼터.<br>
          • 소 하천의 징검다리<br>
          • 교통 섬 (교차로 내 신호 대기 하는 곳)<br>
          • 버스 승강장.<br>
          • 이면도로 주차 방지 시설.<br>
          • 인도블럭 사이 자전거 도로 및 산책로 (기존의 데크공법은 하지부분이 땅에 묻히면 부식이 됌으로 적용불가)<br>
          • 어린이 놀이터, 도심의 근린공원.<br>
          • 해안가 및 국도변 인도가 없는곳.(별도의 굴착 없이 경계석 부착으로 바로 인도 만들어짐)<br>
          • 어린이 보호구역 및 학교 등 하교 길  (경계 블럭 및 난간 부착으로 별도 의 굴착 없이 단시간에 구역 구분 지어짐)<br>
          • 국도변 인도 없이 수로가 근접하여 보행자 위험 한곳(덮개 역할 및 보행로 확보)<br>
        </div>
      </div>
      <div class="col-md-6">
        <p class="product_main_title">장점</p>
        <div class="row" style="width:90%; margin:auto;">
          <p class="product_main">
            1. 조립식이어서 시공이 용이하고 공기가 단축<br>
            2. 상부방부목은 복사열이 적어 도심의 열섬현상을 감소<br>
            3. 수려한 외부문양으로 도시의 미관향상<br>
            4. 나무고유의 탄성으로 보행감 향상<br>
            5. 내부공간이 빗물 저장소 역할을 하여 집중호우시 홍수를 억제<br>
            6. 철제기초시공에 비하여 외부충격에 강하며, 가격이 저렴<br>
            7. 내구연한을 높여 경제적<br>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-1">　</div>
      <div class="col-md-4">
        <p class="product_main_title">1단 완성도</p>
        <img  src="<%=image_path("con_1_ex_3.png")%>" alt="logo"style=" height:auto; width:100%; margin-left:auto; margin-right:auto; "/>
      </div>
      <div class="col-md-6">
        <p class="product_main_title">단면도</p>
        <img  src="<%=image_path("con_1_ex_1.png")%>" alt="logo"style=" height:auto; width:100%; margin-left:auto; margin-right:auto; "/>
      </div>
      <div class="col-md-1">　</div>
    </div>
    <div class="row">
      <div class="col-md-1">　</div>
      <div class="col-md-4">
        <p class="product_main_title">1단 분해도</p>
        <img  src="<%=image_path("con_1_ex_2.png")%>" alt="logo"style=" height:auto; width:100%; margin-left:auto; margin-right:auto; "/>
      </div>
      <div class="col-md-6">
        <p class="product_main_title">부위별 기능</p>
        <img  src="<%=image_path("con_1_ex_4.png")%>" alt="logo"style=" height:auto; width:100%; margin-left:auto; margin-right:auto; "/>
      </div>
      <div class="col-md-1">　</div>
    </div>
    <br>

    <br>
    <p class="product_main_title">시공 사례</p>
    <div class="row">
      <div class="col-md-12 product_ex_img">
        <div class="flexslider" style="margin-top:20px;">
          <ul class="slides">
            <li >
              <img  src="<%=image_path("main-3.jpg")%>" alt="logo"style=" height:auto; width:80%; margin-left:auto; margin-right:auto; "/>
            </li>
            <li>
              <img  src="<%=image_path("main-1.jpg")%>" alt="logo"style=" height:auto; width:80%; margin-left:auto; margin-right:auto; "/>
            </li>
            <li>
              <img  src="<%=image_path("main-2.jpg")%>" alt="logo"style=" height:auto; width:80%; margin-left:auto; margin-right:auto; "/>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
