  <div class="row">
    <div class="col-md-2" style="padding:0px;">
      <%= render partial: '/product/menu'  %>
    </div>
    <div class="col-md-10">
      <h4 class="product_title">자연식생 보안블록</h4>
      <p class="product_sub" style="float: left;">의장등록번호 : 제 039850호</p>
      <hr>
      <div class="row">
        <div class="col-md-5">
          <div class="flexslider">
            <ul class="slides " style=" height:380px;">
              <li >
                <img  src="<%=image_path("con_2-1.jpg")%>" alt="logo"style=" height:100%; margin-left:auto; margin-right:auto; "/>
              </li>
              <li>
                <img  src="<%=image_path("con_2-2.jpg")%>" alt="logo"style=" height:100%; margin-left:auto; margin-right:auto; "/>
              </li>
            </ul>
          </div>
        </div>
        <div class="col-md-7">

          <p class="product_main_title">특성</p>
          <div class="row"   style="width:90%; margin:auto;">
            <div class="bs-example product_main" data-example-id="striped-table" style="border: 1px solid #ddd;">
                <table class="table table-striped" style="margin-bottom:0;">
                  <thead>
                  </thead>
                  <tbody>
                    <tr>
                      <th scope="row">용도</th>
                      <td>하천법면 보호와 하천녹화, 저수지, 댐, 각종절개면</td>
                    </tr>
                    <tr>
                      <th scope="row">압축강도</th>
                      <td>21N/㎟ 이상</td>
                    </tr>
                    <tr>
                      <th scope="row">대응 유속</th>
                      <td>7m/sec 이하</td>
                    </tr>
                    <tr>
                    <th scope="row">대응 구배</th>
                      <td>1:1.0 이하</td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div><br>
            <p class="product_main_title">특징</p>
            <p class="product_main"  style="width:90%; margin:auto;">
               •  비부식성 연결고리를 통한 구조적 안정성 확보<br>
               •  자연석형태의 돌기로 자연스런 경관 연출<br>
               •  돌기사이에 공극 형성으로 식재공간 극대화<br>
               •  저수면 및 사면의 안정성 및 토사유출 방지 기능 수행<br>
               •  생태계 복원을 위한 양호한 식생공간 및 환경제공 <br>
               •  결합구조가 같은 계단으로 시공할 수 있어 하상의 접 근성이 용이함
             </p>
        </div>
      </div>
      <p class="product_main_title">제품 소개</p>
      <p class="product_main"  style="width:90%; margin:auto;">
        자연석형 문향을 형상화한 제품으로 시공 후 제품노출부가 자연석호박돌과 유사하여 자연친화적이며 연결고리 체결방식으로 구조적 안정성이 우수하고 식생공간을 확보함으로써 자연식생 및 미생물, 곤충류, 양서류의 서식 및 공간 및 이동통 로를 제공함으로 친환경적인 제품이다.
      </p>


       <p class="product_main_title">규격</p>
      <div class="row"  style="width:90%; margin:auto;">
        <div class="bs-example product_main" data-example-id="striped-table" style="border: 1px solid #ddd;">
          <table class="table table-striped" style="margin-bottom:0;">
            <thead>
              <tr>
                <th scope="row">품명</th>
                <th>규격</th>
                <th>참고중량</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th scope="row">자연식생 호안블록 1형</th>
                <td>1000×1000×250(t)</td>
                <td>310</td>
              </tr>
              <tr>
                <th scope="row">자연식생 호안블록 2,3형</th>
                <td>1000×1000×250(t)</td>
                <td>230</td>
              </tr>
              <tr>
                <th scope="row">자연식생 호안블록 4형</th>
                <td>980×980×190(t)</td>
                <td>230</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      <p class="product_main_title">설치 단면도</p>
      <div style="text-align:center;">
        <img  src="<%=image_path("con_2_ex_5.jpg")%>" alt="logo"style=" height:auto; width:80%; margin:auto; "/>
      </div>
      <p class="product_main_title">시공 사례</p>
      <div class="row"  style="width:80%; margin:auto;">
        <div class="col-md-6 product_ex_img">
          <img  src="<%=image_path("con_2_ex_1.jpg")%>" alt="logo"style=" height:auto; width:100%; margin-left:auto; margin-right:auto; "/>
        </div>
        <div class="col-md-6 product_ex_img">
          <img  src="<%=image_path("con_2_ex_2.jpg")%>" alt="logo"style=" height:auto; width:100%; margin-left:auto; margin-right:auto; "/>
        </div>
        <div class="col-md-6 product_ex_img">
          <img  src="<%=image_path("con_2_ex_3.jpg")%>" alt="logo"style=" height:auto; width:100%; margin-left:auto; margin-right:auto; "/>
        </div>
        <div class="col-md-6 product_ex_img">
          <img  src="<%=image_path("con_2_ex_4.jpg")%>" alt="logo"style=" height:auto; width:100%; margin-left:auto; margin-right:auto; "/>
        </div>
      </div>
    </div>
  </div>
