<div class="row">
  <div class="my-margin col-lg-2 col-md-2" style="padding:0px;">
    <%= render partial: '/product/menu'  %>
  </div>
  <div class="col-lg-9">
    <h4 class="product_title">식생 코이어롤(포트형)</h4>
    <p class="product_sub" style="float: left;"></p>
    <hr>
    <div class="row">
      <div class="col-md-6">
        <img  src="<%=image_path("river_3-1.jpg")%>" alt="logo"style=" width:80%; margin-left:auto; margin-right:auto; "/>
      </div>
      <div class="col-md-6">
        <img  src="<%=image_path("river_3-2.jpg")%>" alt="logo"style=" width:80%; margin-left:auto; margin-right:auto; "/>
      </div>
    </div>
    <p class="product_main_title">제품 소개</p>
    <p class="product_main product_size">
      하천이나 호수에 풍부하고 다양한 자연이 회복되고, 새와 곤충이 어울리는 다양성을 가진 수변환경 즉 비오톰(소생물권)이 복원됩니다.
    </p>
    <div class="row">
      <div class="col-md-7">
        <p class="product_main_title">특성</p>
        <p class="product_main product_size">
           • 코코넛 장섬유로 된 100% 천연소재만을 사용해 하천의 자연성을 극대화<br>
           • 수변부에 설치하여 물의 흐름이나 파장 등의 유수충격을 흡수해 침식방지<br>
           • 식물에 필요한 유효수분을 충분히 확보함으로써 수생식물에 의한 녹화기능<br>
           • 식물의 뿌리가 토양을 고정시켜 유속감소와 세굴을 방지하는 역할 <br>
           • 내구성을 한층 강화하여 집중호우나 홍수시의 빠른 유속에 견딜 수 있음<br>
           • 호안보호와 식물에 의한 복원기능을 극대화한 생태복원 제품<br>
         </p>
     </div>
     <div class="col-md-5">
       <img  src="<%=image_path("river_3-3.jpg")%>" alt="logo"style="padding-top:30px; height:auto; width:80%; margin-left:auto; margin-right:auto; "/>
     </div>
   </div>
   <div class="row">
     <div class="col-md-6">
       <p class="product_main_title">코이어롤(일반형)의 형태</p>
      <div class="bs-example product_main product_size" data-example-id="striped-table" style="border: 1px solid #ddd;">
        <table class="table table-striped" style="margin-bottom:0;">
          <thead>
            <tr>
              <th scope="row">구 분</th>
              <th>내          용</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th scope="row">재 질</th>
              <td>천연섬유(셀롤로오스계)</td>
            </tr>
            <tr>
              <th scope="row">규 격</th>
              <td>300×400mm</td>
            </tr>
            <tr>
              <th scope="row">외 부 망 채</th>
              <td>T8×20×20mm</td>
            </tr>
            <tr>
              <th scope="row">중 량</th>
              <td>8~10㎏/m당</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div class="col-md-6">
      <p class="product_main_title">코이어롤(pot형)의 형태</p>
     <div class="bs-example product_main product_size" data-example-id="striped-table" style="border: 1px solid #ddd;">
       <table class="table table-striped" style="margin-bottom:0;">
         <thead>
           <tr>
             <th scope="row">구 분</th>
             <th>내          용</th>
           </tr>
         </thead>
         <tbody>
           <tr>
             <th scope="row">재 질</th>
             <td>천연섬유(셀롤로오스계)</td>
           </tr>
           <tr>
             <th scope="row">규 격</th>
             <td>300×400mm</td>
           </tr>
           <tr>
             <th scope="row">홀 갯 수</th>
             <td>10홀/4M당</td>
           </tr>
           <tr>
             <th scope="row">외 부 망 채</th>
             <td>T8×20×20mm</td>
           </tr>
           <tr>
             <th scope="row">중 량</th>
             <td>8~10㎏/m당</td>
           </tr>
         </tbody>
       </table>
     </div>
    </div>
  </div>
    <p class="product_main_title">설치 단면도</p>
    <img  src="<%=image_path("river_3_ex_4.jpg")%>" alt="logo"style=" height:auto; width:80%; margin-left:10%; margin-right:10%; "/>

    <p class="product_main_title">시공 사례</p>
    <div class="row" style="width:80%; margin:auto;">
      <div class="col-md-6 product_ex_img">
        <img  src="<%=image_path("river_3_ex_1.jpg")%>" alt="logo"style=" height:auto; width:100%; margin-left:auto; margin-right:auto; "/>
      </div>
      <div class="col-md-6 product_ex_img">
        <img  src="<%=image_path("river_3_ex_3.jpg")%>" alt="logo"style=" height:auto; width:100%; margin-left:auto; margin-right:auto; "/>
      </div>
      <div class="col-md-12 product_ex_img">
        <img  src="<%=image_path("river_3_ex_2.jpg")%>" alt="logo"style=" height:auto; width:100%; margin-left:auto; margin-right:auto; "/>
      </div>
    </div>
  </div>
</div>
