<div class="row">
  <div class="col-md-2 intro-production hidden-xs hidden-sm">
    <%= render partial: '/product/menu'  %>
  </div>
  <div class="col-md-9">
    <h4 class="product_title">고강도 코이어 식생 앵커매트</h4>
    <p class="product_sub" style="float: left;">의장등록번호 : 제 0349849호</p>
    <hr>
    <div class="row">
      <div class="col-md-2">　</div>
      <div class="col-md-8">
        <img  src="<%=image_path("river_1-1.jpg")%>" alt="logo"style="width:100%; margin-left:auto; margin-right:auto; "/>
      </div>
      <div class="col-md-2">　</div>
    </div>
    <p class="product_main_title">제품 소개</p>
    <p class="product_main product_size" >
      고강도 식생 코이어매트는 육각 철망을 상부에 부착하여 치수효과가 뛰어나며, 라텍스와 고결제를 혼합한 코팅제 처리를 한 고강도 코어매트 지지층을 외피로하고 제올라이트 미분을 흡착시킨 식생층, 그리고 종자부착 펄프층이 포함된 코이어 매트 종자층으로 이루어져 자체적으로 종자가 발아 할 수 있을 뿐아니라 표면이 기존의 유사 기능제품들보다 뛰어난 강도 를 지님으로써 하천의 급류/호안사면 등에서 발생하는 돌, 바위, 부유물 등으로 인한 매트의 파손을 방지할 수 있는 뛰어 난 내구성을 가지며, 간단한 포설만으로도 식재 및 호안 사면 보호를 동시에 할 수 있는 다기능성 친환경 호안사면 녹화/ 안정화 공법이다.
    </p>
    <p class="product_main_title">특징</p>
    <p class="product_main product_size">
       • 육각메쉬망, 코이어매트지지층, 코이어매트식재층, 코이어매트종자층 4층 구조<br>
       • 유각메쉬망과 코이어매트층이 일체화 되어 유속에 대한 안정성이 높아 치수방재효과기 뛰어남.<br>
       • 천연소재로 구성되어 환경친화적인 제품임.<br>
       • 직접포토 식재시공시 조기 식생정착으로 치수효과 가 뛰어나며 일반섬유를 사용함으로써 주변 잡풀 성장을 억제하여 아름다운 경관을 조성 및 유지함.<br>
       • 국립농산물품질관리원에서 승인된 발아씨를 사용 하여 식생이 탁월합니다.
     </p>
     <div class="row">
       <div class="col-md-6">
         <p class="product_main_title">적용 범위</p>
         <p class="product_main product_size">
           • 하천사면, 도로법면, 기타 절개사면<br>
           • 하천호안, 도로사면 등의 녹화<br>
           • 생태적 녹화를 필요로 하는 법면의 녹화 <br>
           • 한냉지, 고지대 등의 법면 녹화 <br>
           • 절성토지, 재해현장의 조기대응 가능
         </p>
       </div>
       <div class="col-md-6">
         <p class="product_main_title">제품의 구성</p>
         <img  src="<%=image_path("river_1-2.jpg")%>" alt="logo"style="width:80%; margin-left:auto; margin-right:auto; "/>
       </div>
     </div>
     <p class="product_main_title">물리적 특성</p>
     <div class="bs-example product_main product_size" data-example-id="striped-table" style="border: 1px solid #ddd;">
       <table class="table table-striped" style="margin-bottom:0;">
         <thead>
         </thead>
         <tbody>
           <tr>
             <th scope="row">특 징</th>
             <td>KS K 0210</td>
             <td>셀룰로오스계 섬유, 라텍스혼합물</td>
           </tr>
           <tr>
             <th scope="row">두 께</th>
             <td>KS K 0506</td>
             <td>5㎜ 이상</td>
           </tr>
           <tr>
             <th scope="row">중 량</th>
             <td>KS K 0506</td>
             <td>800g/㎡</td>
           </tr>
           <tr>
             <th scope="row">인 장 강 도</th>
             <td>KS K ISO 10319 C.R.E. 광폭스트립법</td>
             <td>경사 15KN/m이상, 위사 13KN/m이상</td>
           </tr>
         </tbody>
       </table>
     </div><br>
     <p class="product_main_title">품명 및 규격</p>
    <div class="bs-example product_main product_size" data-example-id="striped-table" style="border: 1px solid #ddd;">
      <table class="table table-striped" style="margin-bottom:0;">
        <thead>
          <tr>
            <th scope="row">품명</th>
            <th>호칭</th>
            <th>규격</th>
            <th>두께</th>
            <th>허용유속(m/sec)</th>
            <th>허용소유력(㎏/㎡)</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">고강도 코이어 식생 앵커매트 1형</th>
            <td>MG-AM001<td>
            <td>폭 1.0/2.0m×VSR, 롤형</td>
            <td>T=13~15㎜</td>
            <td>5.0㎏/sec</td>
            <td>8~15㎏/㎡</td>
          </tr>
          <tr>
            <th scope="row">고강도 코이어 식생 앵커매트 2형</th>
            <td>MG-AM002<td>
            <td>폭 1.0/2.0m×VSR, 롤형</td>
            <td>T=18~22㎜</td>
            <td>6.0㎏/sec</td>
            <td>15~20㎏/㎡</td>
          </tr>
          <tr>
            <th scope="row">고강도 코이어 식생 앵커매트 3형</th>
            <td>MG-AM003<td>
            <td>T=22~28㎜</td>
            <td>7.0㎏/sec</td>
            <td>20~30㎏/㎡</td>
          </tr>
        </tbody>
      </table>
    </div>

    <p class="product_main_title">시공 사례</p>
    <div class="row" style="width:80%; margin:auto;">
      <div class="col-md-6 product_ex_img">
        <img  src="<%=image_path("river_1_ex_3.jpg")%>" alt="logo"style=" height:auto; width:100%; margin-left:auto; margin-right:auto; "/>
      </div>
      <div class="col-md-6 product_ex_img">
        <img  src="<%=image_path("river_1_ex_1.jpg")%>" alt="logo"style=" height:auto; width:100%; margin-left:auto; margin-right:auto; "/>
      </div>
      <div class="col-md-12 product_ex_img">
        <img  src="<%=image_path("river_1_ex_2.jpg")%>" alt="logo"style=" height:auto; width:100%; margin-left:auto; margin-right:auto; "/>
      </div>
    </div>
  </div>
</div>
