<div class="row">
  <div class="col-md-2" style="padding:0px;">
    <%= render partial: '/product/menu'  %>
  </div>
  <div class="col-md-10">
    <h4 class="product_title">멀티(보행) 매트</h4>
    <p class="product_sub" style="float: left;"></p>
    <hr>
    <div class="row">
      <div class="col-md-2">　</div>
      <div class="col-md-8">
        <img  src="<%=image_path("river_2-1.jpg")%>" alt="logo"style=" width:100%; margin-left:auto; margin-right:auto; "/>
      </div>
      <div class="col-md-2">　</div>
    </div>
    <p class="product_main_title">제품 소개</p>
    <p class="product_main product_size">
      GB포장매트는 열대 식물인 코코넛 열매에서 추출한 천연섬유를 직조하여 만든 신개념의 친환경 보도용 포장재입니다.
    </p>
    <p class="product_main_title">GB포장매트 개요</p>
    <p class="product_main product_size product_size">
      <strong style="font-size:17px;">　친환경 소재인 코코넛 섬유만으로 제작된 신개념의 친환경 보도용 포장재</strong><br>
         　　▶    천연 코코넛열매에서 추출한 장섬유 만을 사용한 신개념의 친환경 보도용 포장재로써 기존의 인공적인 포장재료와 차 별화 된 제품으로 공원, 산책로, 보행로 등에 적용하여 친환경적 보행환경을 구현할 수 있는 포장재료임.<br><br>
      <strong  style="font-size:17px;">　순수 천연식물성 소재를 특수한 직조방법으로 고강도화하여 보도용 포장재 구현</strong><br>
        　　▶    내구성의 문제 등으로 인하여 친환경 공간에 천연식물성 소재를 이용한 포장재의 도입이 힘들어, 콘크리트, 블록 등을 이용한 인공적 포장재를 많이 사용하으나, 코코넛섬유 보도포장용 매트의 경우 코코넛 장섬유를 특수한 공법으로 직 조하여 제품의 강도를 개선하여 보행로에 적합한 제품으로 구현하음.<br><br>
      <strong  style="font-size:17px;">　매트형의 구조로 제작되어 포장면의 자연스러움 확보와 시공성이 뛰어납니다.</strong><br>
        　　▶    코코넛 섬유를 폭 1m X 길이 13m의 롤형태로 제작하기 때문에 기존의 포장재보다 경량형 이며, 선형의 보도에 설치 시 자연스러운 설치면을 만들어 줄 수 있음. 또한 간단한 포설/고정으로 설치가 가능하여 시공이 편리성을 확보하고, 이동성이 편리하여 다양한 공간에 적용이 가능함.

     </p>

     <p class="product_main_title">GB포장매트의 사양 및 구조</p>
    <div class="bs-example product_main product_size" data-example-id="striped-table" style="border: 1px solid #ddd;">
      <table  class="table table-striped" style="margin-bottom:0;">
        <tr>
          <th>구 분</th>
          <th colspan="2">내 용</th>
        </tr>
        <tr>
          <td>구성소재</td>
          <td colspan="2">코코넛 장섬유 (셀롤로오스계)</td>
        </tr>
        <tr>
          <td>규격</td>
          <td colspan="2">W1.0m X L13.0m (Roll Type), T30 이상</td>
        </tr>
        <tr>
          <td>무게</td>
          <td colspan="2">약 4kg/㎡ 내외</td>
        </tr>
        <tr>
          <td rowspan="2">제작방법</td>
          <td>1단계</td>
          <td>코코넛 장섬유 고강도로프화</td>
        </tr>
        <tr>
          <td>2단계</td>
          <td>고강도로프 격자형 직조</td>
        </tr>
      </table>
    </div>

    <p class="product_main_title">멀티(보형) 매트의 구조</p>
    <img  src="<%=image_path("river_2_ex_4.jpg")%>" alt="logo"style=" height:auto; width:80%; margin-left:10%; margin-right:10%; "/>

    <p class="product_main_title">시공 사례</p>
    <div class="row" style="width:80%; margin:auto;">
      <div class="col-md-6 product_ex_img">
        <img  src="<%=image_path("river_2_ex_1.jpg")%>" alt="logo"style=" height:auto; width:100%; margin-left:auto; margin-right:auto; "/>
      </div>
      <div class="col-md-6 product_ex_img">
        <img  src="<%=image_path("river_2_ex_2.jpg")%>" alt="logo"style=" height:auto; width:100%; margin-left:auto; margin-right:auto; "/>
      </div>
      <div class="col-md-12 product_ex_img">
        <img  src="<%=image_path("river_2_ex_3.jpg")%>" alt="logo"style=" height:auto; width:100%; margin-left:auto; margin-right:auto; "/>
      </div>
    </div>
  </div>
</div>
