<div class="row">
  <div class="my-margin col-lg-2 col-md-2" style="padding:0px;">
    <%= render partial: '/product/menu'  %>
  </div>
  <div class="col-lg-9">
    <h4 class="product_title">식생 코이어롤 윙</h4>
    <p class="product_sub" style="float: left;"></p>
    <hr>
    <div class="row">
      <div class="col-md-1">　</div>
      <div class="col-md-4">
        <img  src="<%=image_path("river_4-1.jpg")%>" alt="logo"style=" width:80%; margin-left:auto; margin-right:auto; "/>
      </div>
      <div class="col-md-1">　</div>
      <div class="col-md-6">
        <img  src="<%=image_path("river_4-2.jpg")%>" alt="logo"style=" width:80%; margin-left:auto; margin-right:auto; "/>
      </div>
    </div>
    <p class="product_main_title">제품 소개</p>
    <p class="product_main product_size">
      하천이나 호소에 풍부하고 다양한 자연이 회복되고, 새와 곤충이 어울리는 다양성을 가진 수변환경 즉, 비오톱(소(小)생물 권)이 복원됩니다.
    </p>
    <p class="product_main_title">특성</p>
    <p class="product_main product_size">
       • 코이어롤에 망상의 날개가 부착된 새로운 개념의 코이어롤 임<br>
       • 코이어윙롤 설치시 날개부가 서로 겹쳐지면서 지면과 고정되기 때문에 튼튼한 상호 결합 및 지면과도 안정적으로 고정이 가능<br>
       • 일반적인 코이어롤의 설치시 부설되는 코이어펠트층의 역할을 윙롤의 날개가 대체하여 줌으로써 설치시 경제성과 효율성을 확 보할 수 있음
     </p>
     <div class="row">
       <div class="col-md-6">
         <img  src="<%=image_path("river_4-4.jpg")%>" alt="logo"style="padding-top:30px; height:auto; width:80%; margin-left:auto; margin-right:auto; "/>
       </div>
       <div class="col-md-6">
         <img  src="<%=image_path("river_4-3.jpg")%>" alt="logo"style="padding-top:30px; height:auto; width:80%; margin-left:auto; margin-right:auto; "/>
       </div>
     </div>

       <p class="product_main_title">코이어롤(일반형)의 형태</p>
      <div class="bs-example product_main product_size" data-example-id="striped-table" style="border: 1px solid #ddd;">
        <table class="table table-striped" style="margin-bottom:0;">
          <tr>
            <th rowspan="3">재질</th>
            <th>코이어롤 내부</th>
            <td>코코넛 섬유(셀룰로오스계)</td>
          </tr>
          <tr>
            <th>코이어롤 외부</th>
            <td>코코넛 섬유로프로 만든 공동망 망체</td>
          </tr>
          <tr>
            <th>날개부</th>
            <td>코코넛 섬유로 만든 네트형 망체</td>
          </tr>
          <tr>
            <th rowspan="2">규격</th>
            <th>코이어롤</th>
            <td>300×400㎜</td>
          </tr>
          <tr>
            <th>날개부</th>
            <td>날개 각 W1000×L3500</td>
          </tr>
          <tr>
            <th rowspan="2">망체규격</th>
            <th>코이어롤</th>
            <td>T8×20×20㎜</td>
          </tr>
          <tr>
            <th>날개부</th>
            <td>매쉬간격 2㎝×2㎝</td>
          </tr>
          <tr>
            <th colspan="2">중   량</th>
            <td>8~10㎏/m당 이상</td>
          </tr>
        </table>
      </div>

    <p class="product_main_title">코이어 윙롤 설치 예시도</p>
    <img  src="<%=image_path("river_4_ex_5.jpg")%>" alt="logo"style=" height:auto; width:80%; margin-left:10%; margin-right:10%; "/>

    <p class="product_main_title">시공 사례</p>
    <div class="row" style="width:80%; margin:auto;">
      <div class="col-md-6 product_ex_img">
        <img  src="<%=image_path("river_4_ex_1.jpg")%>" alt="logo"style=" height:auto; width:100%; margin-left:auto; margin-right:auto; "/>
      </div>
      <div class="col-md-6 product_ex_img">
        <img  src="<%=image_path("river_4_ex_2.jpg")%>" alt="logo"style=" height:auto; width:100%; margin-left:auto; margin-right:auto; "/>
      </div>
      <div class="col-md-6 product_ex_img">
        <img  src="<%=image_path("river_4_ex_3.jpg")%>" alt="logo"style=" height:auto; width:100%; margin-left:auto; margin-right:auto; "/>
      </div>
      <div class="col-md-6 product_ex_img">
        <img  src="<%=image_path("river_4_ex_4.jpg")%>" alt="logo"style=" height:auto; width:100%; margin-left:auto; margin-right:auto; "/>
      </div>
    </div>
  </div>
</div>
